* {
    margin: 0;  
    padding: 0;
}

.container {
    border: 1px solid gray;
    max-width: 400px;
    margin: 60px auto;
    background: rgb(195, 250, 113);
    border-radius: 5px;
}

form {
    display:flex;
    justify-content: center;
    padding: 20px;;
}
.form-control input[type="text"] {
    padding: 5px;
    outline: 0;
}

button {
    cursor: pointer;
    background: darkgreen;
    color: white; 
    padding: 6px; 
    border: 0;
    height: 30px;
}

.error {
    color: red;
    text-align: left;
}
.d-none {
    display: none;
}
